.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #888;
    background-color: #14b44c;
  }
  .results-section {
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #4e4e4e;
    background-color: #54c97d;
  }