BODY
     h1 {
     color: blue;
font-size: 150%;
}
p {  font-family: Arial; 
     color: green; 
     font-size: 90%; 
     text-indent: 15px}
#content {
     background-color: rgb(168, 131, 202);
     width: 700px;
     min-height: 400px;
     padding: 20px;
     margin: 10px;
     border: solid 1px black;

}
#tree-photo {
     width: 500px;
   }